// MAIN KEYBOARD STYLESHEET

// Main keyboard button
.key-btn {
  // base styling
  background-color: #eeeeee;
  color: #000000;
  border-radius: 5px;
  font-size: 20px;

  // Undecided - TODO: decide whether button text should be uppercase
  //text-transform: uppercase;

  border: 1px solid #aaaaaa;
  margin: 3px 5px;

  // set height to fit inside parent keyboard row
  // (100% of row height) - (2 x 3px margin) - (2 x 1px border)
  height: calc(100% - 6px - 2px);

  // always fill the full width of the parent flexbox
  flex: 1;

  // HOVER AND ACTIVE VISUAL EFFECTS
  transition: box-shadow ease 0.5s;

  &:hover {
    box-shadow: 0 0 20px -10px #000000;
  }

  &:active {
    background-color: #dddddd;
  }
}

// Keyboard instance
.keyboard {
  // fill parent
  width: 100%;
  height: 100%;

  // flexbox
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  // keyboard rows
  .kb-row {
    flex: 1;

    // create flexbox inside rows to organise buttons
    display: flex;
    flex-wrap: nowrap;
  }
}