// SEARCH VIEW GRID LAYOUT

#searchPage {
  // fill whole screen, centre text
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // define grid
  display: grid;
  // MASTER GRID PARAMETERS: USE THESE TO ADJUST RATIOS
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr 8fr;


  // these values specify what sectors of the grid each component takes up
  #leftPanel {
    // top left sector
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #searchSentence {
    // middle left sector
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #searchResults {
    // sidebar keyboard
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #searchPanel {
    // ugly code to let me have a submit button maybe
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}