// Main modal
.nav-modal {
  // Relative positioning: allows us to position close button absolutely
  position: relative;

  #nav-close-btn {
    // top left corner
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;

    height: 30px;
    width: 30px;

    // Remove button styling
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;

    // Icon
    > svg {
      height: 20px;
      width: 20px;
    }
  }

  // First div: add space for close button
  > div:first-of-type {
    padding-top: 35px;
  }

  // Top zone selection buttons
  #nav-zone-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    // Zone name header
    p {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }

    // Previous / Next zone buttons
    button {
      font-size: 20px;
    }
  }

  // Zone visualiser containing div
  #nav-zone {
    display: flex;
    justify-content: center;
    height: 50vh;

    // Each column of shelves
    .nav-bay {
      display: flex;
      flex-direction: column-reverse;
      margin: 5px;
      width: 90px;
      justify-content: stretch;

      // Each shelf
      .nav-shelf {
        cursor: pointer;
        height: 50px;
        flex-shrink: 1;
        display: flex;
        justify-content: center;
        margin: 5px;

        // Text inside shelf box
        > p {
          margin: auto;
          text-align: center;
          font-size: 18px;
        }

        // Currently selected shelf
        &.currentShelf {
          box-shadow: 0 0 40px -5px #000000;

          > p {
            font-weight: bold;
          }
        }
      }
    }
  }

  // Bottom section containing shelf navigation buttons and current shelf information
  #nav-arrow-area {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 18px;

    // Current shelf information
    #arrow-area-label {
      grid-row: 2;
      grid-column: 2;
      text-align: center;
      margin: 5px;
      padding: 15px;
      font-weight: 600;
    }

    // Directional shelf navigation buttons
    .nav-arrow-btn {
      padding: 10px;
      margin: 2px;

      // Arrow icons
      > svg {
        width: 18px;
        height: 18px;
      }
    }

    // Position buttons in the grid
    #shelf-up {
      grid-row: 1;
      grid-column: 2;
    }

    #shelf-down {
      grid-row: 3;
      grid-column: 2;
    }

    #shelf-left {
      grid-row: 2;
      grid-column: 1;
    }

    #shelf-right {
      grid-row: 2;
      grid-column: 3;
    }

    // Next Shelf / Previous Shelf buttons
    .nav-prev-next-btn {
      margin: 2px;
      font-size: 16px;
    }

    // Position buttons in the grid
    #nav-previous {
      grid-row: 1;
      grid-column: 1;
    }

    #nav-next {
      grid-row: 1;
      grid-column: 3;
    }
  }
}