// VIEWPORT STYLING

// Import system-wide variables: we need to know $accent-colour here
@import "./variables";


.shelf { //todo this belongs in a separate nav-popup file
  align-content: center;
  margin: auto auto;
  width: 100px;
  height: 100px;
}

.currentShelf {
  width: 80px;
  height: 80px;
}

#sizeControls, #heightControls { // todo fixme revise this style
  width: 100%;
  display: inline;
}

// Shelf
#shelf {
  // Layout
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  margin: .5% .5%;
  height: 98%;

  // Disable text selection: makes clicking and dragging feel less janky
  user-select: none;

  // Shelf itself should not have any pointer events (let its parent handle them)
  pointer-events: none;
  // But all of its children (except column) should have their pointer events
  > *:not(.column) {
    pointer-events: auto;
  }

  // Columns
  .column {
    // Layout
    flex: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px;
    position: relative; // needed to allow us to position shelf edit columns absolutely inside .column

    transition: flex-grow 0.5s ease;

    // Styling
    border: 1px solid white;
    text-align: center;
    background-color: #eee;

    .tray:last-child {
      margin: 0;
    }

    // Children of column should have all of their pointer events
    > * {
      pointer-events: auto;
    }

    .tray {
      // Layout
      width: 100%;
      height: calc(100% / 3); // todo revise this change
      min-width: 0;
      margin: 5px 0 0 0;

      // Styling
      background-color: #ffffff;
      border: 1px solid black;
      cursor: pointer;

      // Hide overflow: stops content escaping trays when they have rounded corners or in cases of extreme length 😎
      overflow: hidden;

      // Relative positioning: required to allow us to give children position: absolute;
      position: relative;


      // When we're in multiple select mode
      &.multipleSelect {
        // Round the corners
        border-radius: 10px;

        > svg.tray-tickbox {
          // Show the tickboxes
          visibility: visible;
        }
      }

      // When the tray is selected
      &.selected {
        box-shadow: inset 0 0 18px -10px #000000;
        z-index: 1; // TODO: is there any reason for this?
      }

      // The first empty space a tray can take above
      &.traySpace.firstTraySpace { //todo this needs to be completely restyled
        background-color: #00000011;
        border-color: #888;
      }

      &.traySpace {
        background-color: #00000011;
        border-color: #8880;
      }

      &.traySpace.selected { //todo this needs to be completely restyled
        background-color: #00000011;
        border-color: #888;
      }

      // Everything inside a tray
      > * {
        // Use absolute positioning (allows us to put stuff in absolute locations inside the tray box)
        position: absolute;
        // Make all children elements (inside tray) transparent to pointer events (so they bubble to the tray itself)
        pointer-events: none;
      }

      // Tickboxes
      > svg.tray-tickbox {
        // Layout
        margin: 5px 0;
        width: 10%;
        height: 30%;
        top: 0;
        left: 0;

        // Grey unselected by default
        // Needed because now just using tickSolid (better not to switch icons to avoid flickering)
        color: #cacaca;

        // Hide by default; all tickboxes will be shown when in multiple-select mode, and tick-selected are always shown
        visibility: hidden;

        &.tick-selected {
          color: $accent-color;
          visibility: visible;
        }

      }

      // Tray category: bottom left
      > div.trayCategory {
        // Layout
        bottom: 0;
        left: 5px;
        font-size: 30px;
        text-align: left;

        // Truncate long categories: TODO make this work properly on all screen & tray sizes
        width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      // Tray expiry: bottom right
      > div.trayExpiry {
        bottom: 0;
        right: 0;
        font-size: 22px;
        padding: 0 5px;

        // Break lines when it gets too wide
        width: 30%;
        text-align: center;
        word-wrap: break-word;

        background-color: #aaa; // this is the default color when there is no expiry specified
      }

      // Tray weight: top right
      > div.trayWeight {
        top: 0;
        right: 0;
        font-size: 20px;
        margin: 2px 5px;
      }

      // Custom field: top middle
      > div.trayCustomField {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}
