// STYLESHEET FOR THE LOADING PAGE

// Main page styles
#loadingPage {
  // Fill screen, define flexbox
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  // Styling
  background-color: #eeeeee;

  // Centred box
  #loading-box {
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 15px -8px #000000;
    background-color: #ffffff;

    // 'Loading...' text
    h2 {
      margin: 20px 0 0 0;
      text-align: center;
    }
  }
}
