// STYLESHEET FOR THE LOADING PAGE

// TRAY GRID PARAMETERS
// ADJUSTING THESE WILL REQUIRE CHANGES IN "src/Loading.tsx" AS WELL
// ONLY MESS WITH THESE IF YOU KNOW WHAT YOU'RE DOING BECAUSE IT WILL MAKE THE ANIMATION LOOK RUBBISH / BREAK OTHERWISE
$trayHeight: 20px;
$trayWidth: 35px;
$gridGutter: 5px;
$gridRows: 3;
$gridCols: 4;

// Import animations stylesheet
// IMPORTANT: This stylesheet uses some of the variables defined above.
//            That means that it needs to be imported after they're defined.
@import "loading-animations";

// Main page styles
#loadingPage {
  // Fill screen, define flexbox
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  // Styling
  background-color: #eeeeee;

  // Shelfmaster text
  #menu-header {
    // Use fixed top-left position
    position: fixed;
    top: 20px;
    left: 40px;
    font-size: 40px;

    h1 {
      // Don't have default margins
      margin: 0;
    }
  }

  // Centred box
  #loading-box {
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 15px -8px #000000;
    background-color: #ffffff;

    // 'Loading...' text
    h2 {
      margin: 0;
      text-align: center;
    }
  }
}

// Epic flying tray spinner
#spinner {
  // calculate dimensions from given variables
  width: ($trayWidth + $gridGutter) * $gridCols - $gridGutter;
  height: ($trayHeight + $gridGutter) * $gridRows - $gridGutter;

  // space out the text beneath
  margin-bottom: 20px;

  // All SVG rectangles (that's moving trays *and* the static tray slots)
  rect {
    width: $trayWidth;
    height: $trayHeight;
    fill: #000000;

    // Static tray slots only
    &.spinner-tray-slot {
      fill: #cccccc;
    }
  }
}