//Main menu style sheet

@import "./keyboard";

.main-menu {

}

.menu-header {
  //shelfmaster text
  position: fixed;
  top: 20px;
  left: 40px;
  font-size: 40px;
  width: 40%;
}

.menu-btn-container {
  //container for all buttons
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 15px;
  bottom: 15px;
  height: 300px;
  width: 250px;

}

.alert {
  //container for the alert
  position: fixed;
  width: 500px;
  right: 30px;
  top: 30px;
  box-shadow: 0 0 30px -15px #000000;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  padding: 20px;

  .alert-header {
    display: flex;
    align-items: center;

    .alert-warning {
      //warning icon
      flex-shrink: 1;
      color: #ff0000;
      height: 55px;
      width: 55px;
      //TODO position should be dependent on .alert [what does this mean? -BC]
    }

    h2 {
      margin: 0 0 0 20px;
      //text "expiry imminent"
      font-size: 30px;
    }
  }

  p {
    //text how many items expire
    font-size: 16px;
    margin-bottom: 0;
  }
}
