//Main menu style sheet

.menu-btn-container {
  //container for all buttons
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 15px;
  bottom: 15px;
  height: 300px;
  width: 250px;

}

#menu-warehouse-user-area {
  display: flex;
  flex-direction: column;

  position: fixed;
  right: 15px;
  bottom: 15px;

  > div {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > button {
      font-size: 2em;
      margin: .33em;
      padding: 14px 16px 14px 16px;
    }

  }

}

.alert {
  //container for the alert
  position: fixed;
  width: 400px;
  right: 30px;
  top: 30px;
  box-shadow: 0 0 30px -15px #000000;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  padding: 20px;

  cursor: pointer;

  .alert-header {
    display: flex;
    align-items: center;

    .alert-warning {
      //warning icon
      flex-shrink: 1;
      color: #ff0000;
      height: 55px;
      width: 55px;
      //TODO position should be dependent on .alert [what does this mean? -BC <-- any ideas?]
    }

    h2 {
      margin: 0 0 0 20px;
      //text "expiry imminent"
      font-size: 30px;
    }
  }

  p {
    //text how many items expire
    font-size: 16px;
    margin-bottom: 0;
  }
}
