//Main menu style sheet

@import "./keyboard.scss";

.main-menu {

}

.menu-header {
  //shelfmaster text
  position: fixed;
  left: 20px;
  font-size: 20px;
}

.menu-btns {
  //container for all buttons
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 8px;
  bottom: 8px;
  height: 300px;
  width: 250px;

}

.alert {
  //container for the alert
  position: fixed;
  width: 350px;
  right: 10px;
  top: 10px;
  box-shadow: 3px 3px 3px 3px gray;

  .warning-icon {
    //warning icon
    //TODO needs to be red
    position: relative;
    height: 60px;
    float: left;
    margin-left: 10px;
    //TODO position should be dependent on .alert
    top: 15px;
  }

  h2 {
    //text "expiry imminent"
    position: center;
    font-size: 30px;
    right:0;
    margin-right:0px;

  }

  p {
    //text how many items expire
    position: static;
    font-size: 16px;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
