// SEARCH PAGE STYLING

@import "variables";

@import "./keyboard";
// Import generic keyboard styling
@import "./searchviewgrid";
// Import shelf view grid layout

#topPanel {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 -20px 15px 10px #000000;

  #searchSentence {
    font-size: 24px;

    span.searchMessage {
      padding: 2px;
      margin-right: 10px;
    }

    span.searchField {
      padding: 2px;
      background-color: $accent-color;
      border-radius: 10px;
      margin-right: 10px;
    }

    span.searchEdit {
      padding: 2px;
      background-color: #aaaaaa;
      border-radius: 10px;
      margin-right: 10px;
    }

  }
}

#searchResults {
  padding: 0 20px;

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;

    th {
      border-bottom: 1px solid #aaaaaa;
    }

    tr > * {
      padding: 5px;

      &:not(:first-child):not(:last-child) {
        border-left: 1px solid #aaaaaa;
        border-right: 1px solid #aaaaaa;
      }
    }
  }
}

