//Setting style sheet

.settings {

}

.settings-header {
  //settings header text
  position: fixed;
  left: 20px;
  font-size: 20px;
}

.settings-btns {
  //container for all buttons
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 15px;
  bottom: 15px;
  height: 75px;
  width: 250px;

  button {
    position: relative;
  }

  .line {
    //line above 'back'
    background: gray;
    height: 3px;
    width: inherit;
  }

  .back-btn {
    //back button icon
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 50px;
  }
}

.settings-tabs {
  position: fixed;
  vertical-align: central;
  left: 20px;
  font-size: 20px;
  padding-top: 80px;

  .p {

  }

  .tab {
    cursor: pointer;
    border: 1px solid;
  }

  .tab-selected {
    background-color: #dddddd;
    border-right: none;
  }
}

.settings-content {
  position: absolute;
  left: 258px;
  bottom: 8px;
  right: 8px;
  top: 8px;

  display: block;

  > .settings-setting {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
}
