// MAIN SHELF VIEW STYLING

// Import shelf edit styling
@import "./shelfedit";
// Import shelf navigator styling
@import "./shelfnavigator";
// SHELF VIEW GRID LAYOUT

#editCommentInput {
  font-size: 28px;
  padding: 10px;

  background-color: #dddddd;
  border: none;

  width: calc(100% - 20px);
}

#shelfView {
  // fill whole screen, centre text
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;

  // define grid
  display: grid;
  // MASTER GRID PARAMETERS: USE THESE TO ADJUST RATIOS
  grid-template-columns: 88fr 4fr 18fr;
  grid-template-rows: 10fr 6fr;

  // these values specify what sectors of the grid each component takes up

  > div {
    min-height: 0;
    min-width: 0;
  }

  #toolBar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #viewPort {
    // top left sector
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #sideBar {
    // top right sector
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #bottom {
    // whole bottom row
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}