// MAIN SHELF VIEW STYLING

@import "./keyboard";
// Import generic keyboard styling
@import "./shelfviewgrid"; // Import shelf view grid layout

#topBar {
  background-color: #cccccc;
  font-size: 20px;

  // Keep contents centred
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewPort {
  background-color: #dddddd;
}

#sideBar {
  // arrange children
  padding: 5px;
  display: flex;
  flex-direction: column;

  // container for keyboard switch buttons
  #kb-switcher {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 50px;

    > button {
      height: 100%;
      flex-grow: 1;
      border: none;
      background: none;

      > svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

#bottom {
  padding: 5px;

  .keyboard-container {
    display: flex;
    justify-content: center;

    height: 100%;

    > div {
      margin: 0 10px;
    }

    #exp-1 {
      width: 20%;
    }

    #exp-2 {
      width: 9%;
    }

    #exp-3 {
      width: 20%;
    }

    #weight-numpad {
      width: 30%;
    }

    #numpadR {
      width: 10%;
    }
  }
}

.vl {
  width: 0;
  border-left: 1px solid black;
}