// FIND VIEW GRID LAYOUT

#findPage {
  // fill whole screen
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // define grid
  display: grid;
  // MASTER GRID PARAMETERS: USE THESE TO ADJUST RATIOS
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr;


  // these values specify what sectors of the grid each component takes up
  #leftPanel {
    // top left sector
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    overflow-y: auto;
  }

  #findPanel {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}