// Main modal
.nav-modal {

  #nav-top {
    text-align: right;

    #nav-close-btn {
      // top left corner
      padding: 5px;

      height: 30px;
      width: 30px;

      // Remove button styling
      background-color: rgba(255, 255, 255, 0);
      border: none;
      cursor: pointer;
      box-shadow: none;

      // Icon
      > svg {
        font-size: 20px;
      }
    }
  }

  // Top zone selection buttons
  #nav-zone-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    // Zone name header
    p {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }

    // Previous / Next zone buttons
    button {
      font-size: 20px;
    }
  }

  // Bottom section containing shelf navigation buttons and current shelf information
  #nav-bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 18px;

    // Current shelf information
    #nav-bottom-label {
      grid-row: 1;
      grid-column: 2;

      text-align: center;
      margin: 5px;
      padding: 15px;
      font-weight: 600;
    }

    // Next Shelf / Previous Shelf buttons
    .nav-prev-next-btn {
      margin: 5px;
      font-size: 16px;
      border-radius: 0;
    }

    // Position buttons in the grid
    #nav-previous {
      grid-row: 1;
      grid-column: 1;
    }

    #nav-next {
      grid-row: 1;
      grid-column: 3;
    }
  }
}

@media screen and (max-width: 1599px), (max-height: 719px) {
  .nav-modal {
    #nav-zone-select button {
      font-size: 16px;
    }

    #nav-bottom .nav-prev-next-btn {
      font-size: 14px;
    }
  }
  @media (max-width: 959px), (max-height: 639px) {
    .nav-modal {
      #nav-zone-select button {
        font-size: 12px;
      }

      #nav-bottom {
        #nav-bottom-label {
          font-size: 14px;
        }

        .nav-prev-next-btn {
          font-size: 10px;
        }
      }
    }
  }
}
