// Content that appears above columns when in edit shelf mode
div.editShelfColumn {
  visibility: hidden;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  // All children of .edit-shelf-column
  > * {
    position: absolute;
  }

  // All shelf edit buttons
  button {
    cursor: pointer;
    padding: 10px 15px;

    > svg {
      font-size: 20px;
    }

    // Column delete button (top left)
    &.colDeleteBtn {
      top: 10px;
      right: 10px;
    }
  }

  // All divs that are direct children of .edit-shelf-column
  // (In this case, the container divs for the two controls)
  > div {
    width: 100%;
    left: 50%;

    // Titles for each control (eg 'Tray Width:')
    .colControlHeader {
      font-size: 16px;
      margin: 0 10px 10px 10px;
    }

    // Container for column height controls and title
    &.colHeight {
      top: 40%;
      transform: translate(-50%, -50%);

      // 'Height in Trays:' text
      .colControlHeader {
        font-size: 20px;
      }

      // Numeric value representing maximum number of trays in the column
      .colHeightValue {
        font-weight: bold;
        font-size: 36px;
      }

      // Container for controls
      .colHeightControls {

        // Height control buttons
        > button:last-child {
          // Make up for the fact that numbers are typically displayed low in the line
          margin-top: 4px;
        }
      }
    }

    // Container for column width controls and title
    &.colWidth {
      bottom: 0;
      transform: translate(-50%, 0);

      // Make tray width text bold
      .colWidthValue {
        font-weight: bold;
      }

      // Container for buttons
      .colWidthControls {
        width: 100%;

        // Width buttons
        > button {
          width: 43%;
          height: 7vh;

          // First one: smaller margin on the right
          &:first-child {
            margin: 0 2% 15px 5%;
          }

          // Second one: smaller margin on the left
          &:last-child {
            margin: 0 5% 15px 2%;
          }
        }
      }
    }
  }
}

.isEditShelf {
  #sideBar #sidebar-buttons-main {
    margin-top: auto;
    height: 50%;
    flex-grow: 0;
  }

  #viewPort .editShelfColumn {
    visibility: visible;
  }
}

@media screen and (max-width: 1279px), (max-height: 639px) {
  div.editShelfColumn {
    button {
      padding: 2px 8px;

      > svg {
        font-size: 12px;
        vertical-align: 0;
      }
    }

    > div {
      .colControlHeader {
        font-size: 12px;
        margin: 0 5px 5px 5px;
      }

      &.colHeight {
        top: 45%;

        .colControlHeader {
          font-size: 12px;
        }

        .colHeightValue {
          font-size: 28px;
          line-height: 28px;
        }
      }

      &.colWidth {
        .colWidthControls > button {
        }
      }
    }
  }
}
