// Main modal
.nav-modal {
  // Relative positioning: allows us to position close button absolutely
  position: relative;

  #nav-close-btn {
    // top left corner
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;

    height: 30px;
    width: 30px;

    // Remove button styling
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;

    // Icon
    > svg {
      font-size: 20px;
    }
  }

  // First div: add space for close button
  > div:first-of-type {
    padding-top: 35px;
  }

  // Top zone selection buttons
  #nav-zone-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    // Zone name header
    p {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }

    // Previous / Next zone buttons
    button {
      font-size: 20px;
    }
  }

  // Bottom section containing shelf navigation buttons and current shelf information
  #nav-arrow-area {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 18px;

    // Current shelf information
    #arrow-area-label {
      grid-row: 1;
      grid-column: 2;

      text-align: center;
      margin: 5px;
      padding: 15px;
      font-weight: 600;
    }

    // Directional shelf navigation buttons
    .nav-arrow-btn {
      padding: 10px;
      margin: 2px;

      // Arrow icons
      > svg {
        font-size: 18px;
      }
    }

    // Next Shelf / Previous Shelf buttons
    .nav-prev-next-btn {
      margin: 2px;
      font-size: 16px;
    }

    // Position buttons in the grid
    #nav-previous {
      grid-row: 1;
      grid-column: 1;
    }

    #nav-next {
      grid-row: 1;
      grid-column: 3;
    }
  }
}