//Main menu style sheet

#menu-nav-kb {
  position: absolute;
  left: 15px;
  bottom: 15px;
  height: 40%;
  width: 300px;
}

#menu-warehouse-user-area {
  display: flex;
  flex-direction: column;

  position: fixed;
  right: 15px;
  bottom: 15px;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > button {
      font-size: 32px;
      margin: 10px;
      padding: 14px 16px;
    }

  }

}

@media screen and (max-width: 960px), (max-height: 768px) {
  #menu-nav-kb {
    width: 200px;

    .key-btn {
      font-size: 18px;
    }
  }

  #menu-warehouse-user-area {
    > div > h1 {
      font-size: 24px;
    }

    > div > button {
      font-size: 24px;
      padding: 7px 8px;
    }
  }
}
