// SEARCH PAGE STYLING

@import "src/pages/styles/variables";
// Import global variables: we need $accent-color
@import "src/pages/styles/searchgrid";
// Import search page grid layout

#searchPage {
  #topPanel {
    display: flex;
    align-items: stretch;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 -20px 15px 10px #000000; // todo consider switching this to an inset shadow on the results div

    svg {
      cursor: pointer;
      font-size: 36px;
    }

    #sentenceL {
      margin: 0 30px 0 10px;
      display: flex;
      align-items: center;
    }

    #sentenceBox {
      flex-grow: 1;

      display: flex;
      background-color: #eeeeee;
      align-items: center;

      padding: 10px;

      #searchSentence {
        margin: -2px 0;
        font-size: 24px;
        line-height: 40px;

        flex-grow: 1;

        padding-right: 10px;

        span.searchMessage {
          padding: 2px;
          margin-right: 10px;
        }

        span.searchField {
          color: $accent-color;
          background-color: #dddddd;
          padding: 2px 5px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }

    #sentenceR {
      margin: 0 10px 0 30px;

      button {
        margin: 0;
        border-radius: 0;
        height: 100%;
        width: 120px;
        font-size: 24px;
      }
    }
  }

  #searchResults {
    position: relative;
    height: 100%;
    padding: 0 20px;

    // loading spinner
    svg, div#search-no-results {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);

      // only really applies to div
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 15px 0;

      th {
        border-bottom: 1px solid #aaaaaa;
      }

      tr > * {
        padding: 5px;
        text-align: center;

        &:not(:first-child):not(:last-child) {
          border-left: 1px solid #aaaaaa;
          border-right: 1px solid #aaaaaa;
        }
      }

      td {
        background-color: #ececec;
      }

      .weightCell {
        font-kerning: none;
        text-align: right;
      }

      tr:nth-child(2n) > td {
        background-color: #f4f4f4;
      }
    }
  }
}

