// MAIN SHELF VIEW STYLING

// Import shelf edit styling
@import "src/pages/styles/shelfedit";
// Import shelf navigator styling
@import "src/pages/styles/shelfnavigator";
// SHELF VIEW GRID LAYOUT

#shelfView {
  // fill whole screen, centre text
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;

  // define grid
  display: grid;

  // MASTER GRID PARAMETERS: USE THESE TO ADJUST RATIOS
  grid-template-columns: 84fr 16fr;
  grid-template-rows: 8fr 6fr;

  // these values specify what sectors of the grid each component takes up

  > div {
    min-height: 0;
    min-width: 0;
  }

  #viewPort {
    // top left sector
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #sideBar {
    // top right sector
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #bottom {
    // whole bottom row
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.dialogContent {
  flex-direction: column;

  #editCommentInput {
    font-size: 22px;
    padding: 10px;

    background-color: #dddddd;
    border: none;

    width: calc(100% - 20px);
  }

  .infoBottom {
    margin-top: 10px;

    .dialogButtons {
      display: flex;
      justify-content: flex-end;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1023px), (max-height: 639px) {
  .popup-content {
    .dialogTitle {
      font-size: 30px;
    }

    .dialogContent {
      #editCommentInput {
        font-size: 16px;
        padding: 5px;
      }

      .infoBottom {
        font-size: 14px;

        .dialogButtons button {
          font-size: 16px;
        }
      }
    }
  }
}
