// ShelFView bottom panel

#bottom {
  padding: 5px;

  // universal keyboard container
  // centres keyboards that don't take up the full width
  .keyboard-container {
    display: flex;
    justify-content: center;

    height: 100%;

    &.expiry-container {
      // override justification in order to space keyboards evenly across BottomPanel
      justify-content: space-around;

      #exp-special {
        width: 10%;
      }

      // expiry keyboard: years
      #exp-years {
        width: 20%;
      }

      // expiry keyboard: quarters
      #exp-quarters {
        width: 20%;
      }

      // expiry keyboard: months
      #exp-months {
        width: 30%;
      }
    }

    &.weight-container {
      // weight keyboard: main numpad
      #weight-numpad {
        width: 30%;
      }

      // weight keyboard: side section (with backspace, clear)
      #numpadR {
        height: 100%;
        width: 15%;

        .key-btn {
          line-height: 24px;
          text-overflow: unset;
          white-space: normal;
        }
      }
    }
  }
}

@media screen and (max-width: 1279px), (max-height: 719px) {
  #bottom {
    .key-btn {
      font-size: 16px;
    }
  }
  @media (max-width: 1024px) {
    #bottom {
      .key-btn {
        font-size: 12px;
      }
    }
  }
}