
#category-editor {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;

  height: 100%;
}

.add-cat-btn {
  margin-left: 300px;
}

#category-sidebar {
  display: flex;
  flex-direction: column;

  min-height: 0;
  height: 100%;

  #category-list {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    border: 1px solid #aaaaaa;

    height: 100%;
    overflow-y: auto;
    flex-grow: 1;

    .category-list-item {
      font-size: 30px;
      cursor: pointer;
      padding: 10px;

      &.cat-selected {
        background-color: #dddddd;
      }
    }
  }

  #add-cat-btn {
    margin-top: 20px;
  }
}

#cat-edit-main {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;

  padding-left: 50px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  #cat-edit-controls {
    flex-grow: 1;

    #cat-edit-header {
      width: 100%;
      display: flex;

      h2 {
        font-size: 36px;
        flex-grow: 1;
      }
    }

    h3 {
      font-size: 24px;
      margin-bottom: 5px;
    }

    input[type=text] {
      font-size: 24px;
      padding: 10px;
      background-color: #eeeeee;
      border: none;
    }

    input[type=number] {
      font-size: 24px;
      padding: 10px;
      background-color: #eeeeee;
      border: none;
    }

    input {
      min-width: 50%;
    }

  }

  #cat-edit-bottom-btns {
    display: flex;
    align-items: center;

    #del-msg {
      margin-left: 30px;
    }
  }
}

