
.list-categories {
  position: absolute;
  scroll-behavior: auto;
}

.category {
  //background-color: #eeeeee;
  color: #000000;
  cursor: pointer;

  &.cat-selected {
    background-color: #dddddd;
  }
}

.add-cat-btn {
  margin-left: 300px;
}

.edit-category {
margin-left: 150px;
}
