.settings-component {

  &:last-child td {
    border-bottom: 1px solid #dddddd;
  }

  td {
    vertical-align: middle;
    border-top: 1px solid #dddddd;
    padding: 10px 0;

    label {
      padding-right: 30px;
      line-height: 40px;
      font-size: 24px;
    }

    input[type=checkbox] {
      margin: 0;
      float: none;
      display: none;
    }

    input[type=text] {
      font-size: 24px;
      padding: 10px;
      background-color: #eeeeee;
      border: none;
    }

    input[type=number] {
      font-size: 24px;
      padding: 10px;
      background-color: #eeeeee;
      border: none;
    }

    svg {
      font-size: 30px;
    }

    select {
      font-size: 18px;
      line-height: 18px;
      padding: 5px;
      border: 1px solid #000000;
    }

    &.color-cell {
      display: flex;
      align-items: center;

      > div {
        display: flex;
        align-items: center;
        position: relative;

        > div.color-display {
          display: inline-block;
          height: 100%;
          margin-right: 10px;
          padding: 5px;
          background: #ffffff;
          border-radius: 2px;
          border: 1px solid #cccccc;
          cursor: pointer;

          > div {
            width: 36px;
            height: 14px;
            border-radius: 2px;
          }
        }

        > div.page-cover {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        > div.color-picker {
          position: absolute;
          top: 40px;
          z-index: 10;
        }
      }

      > button {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 1365px) {
  .settings-component td {
    padding: 5px 0;

    label {
      font-size: 18px;
    }

    input, select, input[type=text], input[type=number] {
      font-size: 16px;
    }

    svg {
      font-size: 24px;
    }

    &.color-cell > button {
      padding: 8px 16px;
      font-size: 16px;
    }
  }
}