#findPanel {
  #cat-table {
    height: 100vh;
    overflow-y: auto;

    .categoryGroup {
      width: 100%;
      display: flex;
      margin: 20px 0;

      .categoryGroupTitle {
        flex-shrink: 0;
        width: 60px;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        padding: 0 20px;

        > span {
          width: 100%;
        }
      }

      .categoryGroupCategories {

        .findPanelButton {
          margin: 5px;
          height: 50px;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.selected {
            background-color: #cccccc;
          }
        }
      }
    }
  }
}