.settings-component {
  font-size: 24px;
  height: 50px;

  &:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
  }

  td {
    vertical-align: middle;

    label {
      padding-right: 30px;
    }

    input {
      margin: 0;
      float: none;
    }

    select {
      font-size: 18px;
      padding: 10px;
      border: 1px solid #000000;
    }
  }
}