// ShelfView sidebar styling

@import "../../pages/styles/variables";

#sideBar {
  // arrange children
  padding: 5px;
  display: flex;
  flex-direction: column;

  #shelfName {
    height: 100px;
  }

  #sidebar-buttons-main {
    flex-grow: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;

    > button {
      grid-column: span 2;
      padding: 10px;

      &.halfWidth {
        grid-column: span 1;
        min-width: 0;
      }

      > svg {
        font-size: 50px;
      }
    }
  }

  // container for keyboard switch buttons
  #kb-switcher {
    // Define container layout
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 50px;

    // buttons inside the switcher
    > button {
      // fill available space
      height: 100%;
      flex-grow: 1;

      // Styling
      border: none;
      background: none;
      transition: color 0.2s;
      cursor: pointer;
      padding: 0;
      margin: 0 5px;

      // When active, appear blue
      &.active {
        color: $accent-color;
      }

      // Set icon to fill containing button
      > svg {
        font-size: 50px;
      }
    }
  }
}
