#tm-logo {
  // Use fixed top-left position
  position: fixed;
  top: 20px;
  left: 40px;

  h2 {
    margin: 0;
    color: #bbbbbb;
  }
}

@media screen and (max-width: 1280px) {
  #tm-logo {
    top: 10px;
    left: 20px;

    img {
      max-width: 70%;

      @media (max-width: 1024px) {
        max-width: 50%;
      }
    }
  }
}