// STYLING FOR SHELF VIEW VIEWPORT TOOLBAR

#toolBar {
  padding-right: 5px;
  background: linear-gradient(90deg, #eeeeee, rgba(0, 0, 0, 0.1));

  button {
    width: 100%;
    margin-top: 5px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    cursor: pointer;
    padding: 15px;

    > svg {
      font-size: 35px;
    }
  }
}