// STYLING FOR SHELF VIEW VIEWPORT TOOLBAR

#toolBar {
  padding-right: 5px;
  background: linear-gradient(90deg, #eeeeee, rgba(0, 0, 0, 0.1));

  button {
    width: 100%;
    margin-top: 5px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 15px;
    text-align: center;

    > svg {
      font-size: 35px;
    }
  }
}