// VIEWPORT STYLING

// Import system-wide variables: we need to know $accent-color here
@import "../../pages/styles/variables";

.isEditShelf .column {
  transition: flex-grow 0.5s ease;
}

#loading-box {
  margin: auto;
}

#viewPort {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;

  touch-action: none;
  user-select: none;
  -webkit-touch-callout: none;

  // Shelf
  #shelf {
    // Layout
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    width: calc(100% - 10px);
    height: calc(100% - 10px);

    // Disable text selection: makes clicking and dragging feel less janky
    user-select: none;

    // Shelf itself should not have any pointer events (let its parent handle them)
    pointer-events: none;
    // But all of its children (except column) should have their pointer events
    > *:not(.column) {
      pointer-events: auto;
    }

    // Columns
    .column {
      // Layout
      flex: auto;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 5px;
      position: relative; // needed to allow us to position shelf edit columns absolutely inside .column
      max-width: 450px;

      // Styling
      text-align: center;

      // Children of column should have all of their pointer events
      > * {
        pointer-events: auto;
      }

      .tray {
        // Layout
        width: 100%;
        height: calc(100% / 3);
        min-width: 0;
        margin: 5px 0 0 0;

        // Styling
        background-color: #ffffff;
        border: 1px solid #999999;
        cursor: pointer;

        // Round the corners
        border-radius: 10px;

        // Hide overflow: stops content escaping trays at rounded corners or in cases of extreme length 😎
        overflow: hidden;

        // Relative positioning: required to allow us to give children position: absolute;
        position: relative;


        &.traySpace {
          background-color: #eeeeee;
          border-color: #bbbbbb;

          &.selected {
            background-color: #e4e4e4;
          }
        }

        // When the tray is selected
        &.selected {
          background-color: #dddddd;
        }

        // only give trays with items above them the top margin
        &:last-child {
          margin-top: 0;
        }

        // When we're in multiple select mode
        &.multipleSelect > svg.tray-tickbox {
          // Show the tickboxes
          visibility: visible;
        }

        // Everything inside a tray
        > * {
          // Use absolute positioning (allows us to put stuff in absolute locations inside the tray box)
          position: absolute;
          // Make all children elements (inside tray) transparent to pointer events (so they bubble to the tray itself)
          pointer-events: none;
        }

        // Tickboxes
        > svg.tray-tickbox {
          // Layout
          margin: 5px;
          font-size: 22px;
          line-height: 22px;
          top: 0;
          left: 0;

          // Grey (deselected) by default
          color: #cacaca;

          // Hide by default
          visibility: hidden;

          // when selected, use accent colour and be visible
          &.tick-selected {
            color: $accent-color;
            visibility: visible;
          }
        }

        // Tray category: bottom left
        > div.trayCategory {
          // Layout
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 30px;
          line-height: 34px;
          text-align: center;

          // this method is commonly supported but not the best
          //  https://caniuse.com/#search=webkit-line-clamp
          //  todo evaluate other methods
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;

          // Truncate long categories
          max-width: 90%;
          word-wrap: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
        }

        // Tray expiry: bottom right
        > div.trayExpiry {
          bottom: 0;
          right: 0;
          font-size: 22px;
          height: 30px;
          min-width: 50%;
          padding: 0 10px;

          > div {
            position: absolute;
            top: 50%;
            width: calc(100% - 20px);
            transform: translate(0, -50%);
          }
        }

        // Tray weight: top right
        > div.trayWeight {
          top: 0;
          right: 0;
          font-size: 20px;
          margin: 2px 5px;

          line-height: 20px;

          &.trayWeightEditing {
            color: $accent-color;
            text-decoration: underline;
          }
        }

        // Comment: top middle
        > div.trayComment {
          bottom: 0;
          left: 0;
          margin: 12px;
          font-size: 30px;
          line-height: 30px;
        }
      }

      &.column-condensed .tray {
        > svg.tray-tickbox {
          margin: 0 0 0 8px;
          top: 50%;
          transform: translate(0, -50%);
        }

        > div.trayCategory {
          left: 38px;
          text-align: left;
          width: calc(50% - 38px);
          transform: translate(0, -50%);

          font-size: 24px;
          line-height: 28px;
          display: unset;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        > div.trayExpiry {
          height: 100%;
          min-width: 20%;
        }

        > div.trayWeight {
          right: 30%;
          top: 45%;
          transform: translate(0, -50%);
        }

        > div.trayComment {
          font-size: 20px;
          line-height: 20px;
          bottom: 50%;
          left: 50%;
          margin: 0;
          transform: translate(0, 50%);
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  #viewPort #shelf .column.column-condensed .tray {
    > svg.tray-tickbox {
      margin-left: 3px;
      font-size: 12px;
      line-height: 12px;
    }

    > div.trayCategory {
      left: 20px;
      font-size: 12px;
      width: calc(50% - 20px);
    }

    > div.trayExpiry {
      font-size: 10px;
      min-width: 12%;
    }

    > div.trayWeight {
      font-size: 10px;
      line-height: 10px;
      right: 25%;
    }

    > div.trayComment {
      font-size: 14px;
      line-height: 14px;
    }
  }

  @media (max-width: 1280px), (max-height: 400px) {
    #viewPort #shelf .column .tray {
      > div.trayCategory {
        font-size: 24px;
        line-height: 28px;
      }

      > div.trayExpiry {
        font-size: 16px;
        height: 20px;
      }

      > div.trayWeight {
        font-size: 16px;
        line-height: 16px;
      }

      > div.trayComment {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}