#inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 0 1%;

  .column {
    border: 1px solid white;
    text-align: center;
    background-color: blue;
    flex: auto;
  }
}

h1 {
  margin: 0;
}

#outer {
  height: 100%;
  background-color: red
}